/* HTML PAGE STYLING */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(76, 78, 80);
    display: grid;
    margin: 0px;
}
.chart-container {
    padding-left: 20px;
}
.chart-container:nth-child(odd) {
    background-color: rgb(39, 41, 43);
}
.chart-container:nth-child(odd) .tick text {
    fill: white;
}
.chart-container:nth-child(odd) .tick line, .chart-container:nth-child(odd) .domain {
    stroke: white;
}
.chart-container:nth-child(even) {
    background-color: rgb(76, 78, 80);
    color: rgb(39, 41, 43);
}
#parallel #contents {
    display: flex;
}
#parallel #user_info {
    display: none;
    float: right;
    margin-right: 50px;
    padding: 5px 10px;
    line-height: 30px;
}
#parallel #user_info h1 {
    border-bottom: 1px solid;
}

#filter .number {
    width: 50px;
}

#filter .paddington {
    padding-left: 50px;
}