/* SCATTERPLOT STYLING */
#scatter.chart-container:nth-child(even) .axis path,
#scatter.chart-container:nth-child(even) .axis line {
    fill: none;
    stroke: rgb(39, 41, 43);
    shape-rendering: crispEdges;
}
#scatter.chart-container:nth-child(odd) .axis path,
#scatter.chart-container:nth-child(odd) .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
#scatter.chart-container:nth-child(even) .label, #scatter.chart-container:nth-child(even) text {
    fill: rgb(39, 41, 43);
}
#scatter.chart-container:nth-child(odd) .label, #scatter.chart-container:nth-child(odd) text {
    fill: white;
}
#scatter .tooltip {
    position: absolute;
    width: 82px;
    height: 48px;
    pointer-events: none;
    font-size: 10pt;
    background-color: antiquewhite;
    border-radius: 2px;
    padding-left: 2px;
}